<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/" method="post">
        <input type="text" name="Name" /><br />
        <button type="submit">Enter</button>
    </form>
</body>
</html>